body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nova Cut', cursive;
  background-image: url("https://bgfons.com/uploads/paper/paper_texture322.jpg");
}

code {
  font-family: 'Nova Cut', cursive;
}

/*TypeWriter Animation*/

.line {
  position: relative;
  top: 10%;
  width: 16em;
  margin: 20px auto;
  border-right: 2px solid darkmagenta;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: darkmagenta;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.19);
}

.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) 1s normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: darkmagenta;
  }
  to {
    border-right-color: transparent;
  }
}


/*Start Page*/

.startImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 5px solid black;
}

input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 20px;
}
input:focus {
  border: 3px solid #555;
}

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 25%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

button {
  background-color: darkmagenta;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.startText {
  display: flex;
  justify-content: center;
  color: darkmagenta;
}


/*End Page*/
td, th {
  text-align: center;
}

td {
  padding: 20px 50px 10px 40px;
  border-bottom: 1px solid darkmagenta;
}

th {
  padding: 20px 20px 10px 0px;
  border-top: 1px solid darkmagenta;
  border-bottom: 1px solid darkmagenta;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  opacity: 80%;
  background-color: white;
  margin-top: 10px;
}

.endHeading{
  display: flex;
  justify-content: center;
  color: darkmagenta;
}

/*Room Component */

.roomImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: 5px solid black;
}

.roomHeading{
  display: flex;
  justify-content: center;
  color: darkmagenta;
}

.roomDescription{
  display: flex;
  justify-content: center;
  color: darkmagenta;
}

button.compass {
  background: transparent;
  float: right;
  margin-right: -250px;
  padding-top: 50px;
}

button.compass:hover {
  box-shadow: none;
}

h2.compassText {
  float:right;
  margin-right: 100px;
  position: relative;
}

/*QM Component*/

img.qmImage {
  float: left;
  align-content: center;
}

h2.qmHeading {
  position: relative;
  text-wrap: normal;
}

/*Question Component*/

p.question{
  float: right;
  position: relative;
}

ul.answers {
  float: right;
  position: relative;
  list-style-type: none;
  margin-right: 100px;
}